<!-- Start Main Banner -->
<section class="container-fluid" id="main-banner">
  <div class="row">
    <div class="col-10 col-sm-6 col-lg-6 mt-15">
           <button class="btn btn-warning btn-block btn-lg btn-font-bold" routerLink="/login">Faça a sua Conta</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 text-main-banner mt-3">
        Economize <span>Tempo</span> com nossas ferramentas de gerenciamento de funcionários
    </div>
  </div>
</section>
<!-- End Main Banner -->

<!-- Start Infos -->
<section class="container-fluid bg-light">
<div class="row pb-5">

  <div class="col-12 col-lg-4">
    <div class="row justify-content-center">
      <img src="./assets/svg/computer-with-dashboard.svg" style="width: 100px;" alt="dashboards" class="img-fluid mt-5">
    </div>
    <div class="row justify-content-center mt-2 main-banner-title">
        Dashboards
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-7 text-center main-banner-subtitle">
            Acompanhe o seus gastos rapidamente através das nossas dashboards
        </div>
    </div>
  </div>

  <div class="col-12 col-lg-4">
      <div class="row justify-content-center">
        <img src="./assets/svg/search-database.svg" style="width: 100px;" alt="dashboards" class="img-fluid mt-5">
      </div>
      <div class="row justify-content-center mt-2 main-banner-title">
          Faça Pesquisas Avançadas
      </div>
      <div class="row justify-content-center mt-2">
          <div class="col-7 text-center main-banner-subtitle">
            Procure, edite e faça relatórios conforme a sua necessidade.
          </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="row justify-content-center">
          <img src="./assets/svg/cloud-computing.svg" style="width: 100px;" alt="dashboards" class="img-fluid mt-5">
        </div>
        <div class="row justify-content-center mt-2 main-banner-title">
            Acesse de qualquer Lugar
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-7 text-center main-banner-subtitle">
                Seus dados são armazenados na nuvem, proporcionando todo segurança e agilidade na hora que você precisar dos nossos serviços.
            </div>
        </div>
    </div>

  
</div>
</section>
<!-- End Infos -->

<!-- Start Testimony -->
<section class="container-fluid" id="testimony-banner">
<div class="row p-lg-5">
  <div class="col-12 col-lg-4">
    <div class="testimony-block p-3 text-center">
        " Recomendo, consigo organizar e acompanhar todos os gastos com funcionários em questão de minutos. "
        <br>
        <span>Mayara Giane - Empreendedora</span>
    </div>
  </div>

  <div class="col-12 offset-lg-4 col-lg-4 mt-5 mt-lg-0 text-center pt-lg-5">
      <button class="btn btn-warning btn-lg btn-font-bold btn-block" routerLink="/login">Clique Aqui Faça Sua Conta</button>
  </div>
</div>
</section>
<!-- End Testimony -->

<!-- Start Footer -->
<footer class="container-fluid pt-4 pb-4">
  <div class="row">
    <div class="col-12">
        <span class="mr-3">Nós siga nas redes sociais</span>
        <a href="#"><img src="./assets/svg/facebook-icon.svg" style="width: 30px;" alt="facebook"></a>
        <a href="#"><img src="./assets/svg/youtube-logo.svg" style="width: 30px;" alt="youtube"></a>
        <a href="#"><img src="./assets/svg/twitter-icon.svg" style="width: 30px;" alt="twitter"></a>
        <a href="#"><img src="./assets/svg/instragram-icon.svg" style="width: 30px;" alt="instragram"></a>
    </div>
  </div>
</footer>
<!-- End Footer -->
