    <div class="card-employee">
        <div class="col-12">
            <div class="row pt-2">
                <div class="col-10 employee-name">{{employee?.name}}</div>
                <div class="col-1">
                    <img *ngIf="employee?.isActive" src="./assets/svg/icon-status-on.svg" style="width: 17px;" alt="">
                    <img *ngIf="!employee?.isActive" src="./assets/svg/icon-status-off.svg" style="width: 17px;" alt="">
                </div>    
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <small>{{employee?.office}}</small>
                </div>
            </div>
        </div>
        <div class="col-12 employee-salary">
            <div class="row">
                <div class="col-3"><strong>Salário</strong></div><div class="col-9">{{employee?.salary | currency: 'BRL': symbol}}</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3"><strong>Setor</strong></div><div class="col-9">{{employee?.sector}}</div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="row">
                <div class="col-3"><strong>CPF</strong></div><div class="col-9">{{employee?.cpf}}</div>
            </div>
        </div>
        <div class="col-12 pb-3">
            <div class="row">
               <div class="col-12">
                    <button [routerLink]="['/employee-detail', employee.id]" class="btn-block btn-employee">+ Mais Detalhes</button>
               </div>
            </div>
        </div>
    </div>
